%p#notice= notice
%h1 Products
%table
  %thead
    %tr
      %th Category
      %th User
      %th Name
      %th Explanation
      %th Price
      %th Brand
      %th Status
      %th Shipping charges
      %th Shipping origin
      %th Days until shipping
      %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr
        %td= product.category_id
        %td= product.user_id
        %td= product.name
        %td= product.explanation
        %td= product.price
        %td= product.brand
        %td= product.status
        %td= product.shipping_charges
        %td= product.shipping_origin
        %td= product.days_until_shipping
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Product', new_product_path
