
- if user_signed_in? 
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  = link_to "出品する", new_product_path
- else
  = link_to "ログイン", new_user_session_path
  = link_to "新規登録", new_user_registration_path



.main--toppage
  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to '#' do
          %h3.title
            新規投稿商品
      .productLists
        - @products.each do |product|
          -break if product.id == 5
          .productList
            = link_to product_path(product) do
              %figure.productList--img
                - product.images.each do |image|
                  = image_tag image.src.url,width: "230", height: '150'
                  = link_to '詳細', product_path(product.id), method: :get       
                  - if product.id == 2
                    .productList--img__items-sold                    
                      .productList--img__items-sold__inner 
                        SOLD

                
            .productList--body
              %h3.product--name
                = product.name
              .details
                %ul
                  %li
                    = "#{product.price}円" 
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p
                  (税込)

  %section.pickupContainer
    %h2.head
      ピックアップブランド
    .productBox
      .productHead
        = link_to '#' do
          %h3.title
            新規投稿商品
      .productLists
        - @products.each do |product|
          -break if product.id == 5
          .productList
            = link_to product_path(product) do
              %figure.productList--img
                - product.images.each do |image|
                  = image_tag image.src.url,width: "230", height: '150'
                  = link_to '詳細', product_path(product.id), method: :get       
                  - if product.id == 2
                    .productList--img__items-sold                    
                      .productList--img__items-sold__inner 
                        SOLD

                
            .productList--body
              %h3.product--name
                = product.name
              .details
                %ul
                  %li
                    = "#{product.price}円" 
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p
                  (税込)