
.new_product_page
  .new_product_page__logo
    = image_tag "logo.png", class:"logo"
  .product_listing__container
    = form_for @product do |f|
      .listing__head
        = f.label '出品画像', class:"form-group__name"
        %span.form-group__require 必須
        %br/
        %span.sub-message クリックで最大10枚まで貼れます。
      .listring__sell-form
        .images-form
          #image-box
            #previews
              - if @product.persisted?
                - @product.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :src, class: 'js-file'
                %br/
                %span.js-remove 削除
              - if @product.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @product.persisted?
              .js-file_group{"data-index" => "#{@product.images.count}"}
                = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
                .js-remove 削除
        .border-line
        .new-product__sell-content
          .form-group
            = f.label '商品名', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.text_field :name, placeholder:"40文字まで", class:"form-group__form"
            %br/
            = f.label '商品の説明', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.text_area :explanation, placeholder:"商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",value: "", class:"form-group__explanation-form"
            %br/
            = f.label 'カテゴリー', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.text_field :category_id, class:"form-group__form"
            %br/
            = f.label 'ブランド', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.text_field :brand, placeholder:"例）シャネル", class:"form-group__form"
            %br/
            = f.label '商品の状態', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.select :status, Product.statuses.keys, prompt:'選択してください', class:"select"
            %br/
            .border-line
            = f.label '配送料の負担', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.select :shipping_charges, Product.shipping_charges.keys, prompt:'選択してください'
            %br/
            = f.label '配送元の地域', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.collection_select :shipping_origin, Prefecture.all ,:id, :name,prompt:'選択してください'
            %br/
            = f.label '発送までの日数', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            = f.select :days_until_shipping, Product.days_until_shippings.keys, prompt:'選択してください'
            %br/
            .border-line
            = f.label '販売価格', class:"form-group__name"
            %span.form-group__require 必須
            %br/
            ￥
            %br/
            = f.number_field :price ,class:"form-group__form"
            %br/
            販売手数料（10%）
            %span.money01{"data-test" => "fee-value"}
            %br/
            販売利益
            %span.money02
            %br/
            .border-line
        .form_section.sell_btns
          = f.submit "出品する", class:"exhibition-btn" 
        %br/
        .border-line
        .attentions
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
      
      