.search-pcheader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to root_path do
          = image_tag ("logo.png")
      .searchBox
        = form_with(url: search_products_path, local: true, method: :get, class: "form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox-input"
          = button_tag type: 'submit', class: 'search-btn' do
            .searchBox__icon
              = image_tag ("icon-search 1.png")
      %ul.resultLists
    .nav
      %ul.left-items
        %li.left-items__item.left-items__item--first
          = link_to 'カテゴリー', "#", { class: "category-btn"}
        %li.left-items__item
          = link_to "#" do
            ブランド
      %ul.right-items
        - if user_signed_in? 
          %li.right-item1
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.right-item2
            = link_to users_path (current_user) do
              マイページ
        - else      
          %li.right-item1
            = link_to "ログイン", new_user_session_path
          %li.right-item2
            = link_to "新規登録", new_user_registration_path
